@charset "UTF-8";


:root {
  --white-color: #fff;
  --black-color: #000;
  --primary-color: #B98500;
  --pr-hover-color: #ca9101;
  --footer-bg: #F1F1F1;
  --futura-font: "Futura PT", sans-serif;
}


/*---------------- Section hero ---------------------------------*/
.about__hero {
  height: 600px;
  .hero__body {
    position: relative;
    margin-top: 106px;
  }
  .hero__bg {
    img {
      object-fit: cover;
      height: 600px;
      border-radius: 24px;
    }
  }
  .hero__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 210px 0 0 50px;
    color: var(--white-color);
    .hero__title {
      font-size: clamp(32px, 3vw, 64px);
      text-transform: uppercase;
      font-weight: 600;
      line-height: 1.3;
      letter-spacing: 0.14em;
      text-align: left;
    }
    .hero__text {
      margin: 0;

    }
  }
}

/*---------------- Section mission ---------------------------------*/
.mission {
  padding: 90px 0 64px;
}
.mission__body {
  display: grid;
  // grid-template-columns: 480px 1fr;
  grid-template-columns: minmax(300px, 480px) 1fr;
  gap: 30px;
  .mission__title-wrapper {
    .mission__title {
    }
  }
  .mission__text {
    span {
      display: inline-block;
      font-size: clamp(14px, 4vw, 32px);
      font-weight: 500;
      line-height: 128%; /* 41.02px/32 */
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    p {
      display: inline-block;
      font-size: 16px;
      font-weight: 450;
      line-height: 128%; /* 20.51px/16 */
    }
  }
}
.slider_wrapper {
}
.top__text {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 64px;
  span {
    display: inline-block;
    font-size: clamp(20px, 4vw, 32px);
    font-weight: 600;
    line-height: 128%; /* 41.02px/32px */
    text-transform: uppercase;
    max-width: 678px;
  }
  a {
    display: inline-block;
  }
}
.swiper4 {
  width: 100%;
  height: 100%;
}
.mySwiper4 {
  .swiper-wrapper {
    align-items: flex-end;
    margin-top: 0;
    .swiper-slide {
      .slide__item {
        img {
          height: 250px;
          object-fit: cover;
          border-radius: 24px;
        }
      }
    }
    .swiper-slide-active {
      .slide__item {
        img {
          height: 340px;
        }
      }
    }
  }
  .swiper-button-next,
  .swiper-button-prev {
    position: absolute;
    top: 94% !important;
    width: 50px;
    height: 50px;
    z-index: 20;
  }
  .swiper-button-next:after {
    background: url('../img/next.svg') no-repeat !important;
    font-size: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-button-prev:after {
    background: url('../img/prew.svg') no-repeat !important;
    font-size: 0;
    width: 100%;
    height: 100%;
  }
  .swiper-button-next {
    right: 40%;
  }
  .swiper-button-prev {
    left: 40%;
  }
  .swiper-horizontal>.swiper-pagination-bullets, 
  .swiper-pagination-bullets.swiper-pagination-horizontal, 
  .swiper-pagination-custom, 
  .swiper-pagination-fraction {
    bottom: 4%;
  }
  .swiper-pagination-bullet {
    background: #DEDEDE !important;
    opacity: 1 !important;
  }

  .swiper-pagination-bullet-active {
    background: #DF9226 !important;
    width: 32px;
    height: 8px;
    border-radius: 8px;
  }

}

/*---------------- Section team ---------------------------------*/
.team {
  padding: 90px 0 64px;
}
.team__body {
  display: grid;
  // grid-template-columns: 480px 1fr;
  grid-template-columns: minmax(300px, 480px) 1fr;
  gap: 30px;
  .team__title-wrapper {
    .team__title {
    }
  }
  .team__text {
    span {
      display: inline-block;
      font-size: clamp(14px, 4vw, 32px);
      font-weight: 500;
      line-height: 128%; /* 41.02px/32 */
      text-transform: uppercase;
      margin-bottom: 16px;
    }
    p {
      display: inline-block;
      font-size: 16px;
      font-weight: 450;
      line-height: 128%; /* 20.51px/16 */
    }
  }  
}
.team__items-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  margin-top: 60px;
  .team__item {
    position: relative;
    padding: 32px 18px;
    background: linear-gradient(180deg, #F1F1F1 0%, #FFFFFF 100%);
    border-radius: 24px;
    height: 230px;
    display: flex;
    flex-direction: column;
    .item__icon {
      position: absolute;
      left: 14px;
      top: 28px;
      width: 72px;
      height: 72px;
    }
    .item__title {
      font-size: clamp(18px, 3vw, 24px);;
      font-weight: 600;
      line-height: 128%; /* 30.77px/24px */
      margin-top: 76px;
    }
  }
  .team__item-1 {
    .item__icon-1 {
      background: url('../img/about-icons/time_atack_duotone_line.svg') no-repeat;
    }
  }
  .team__item-2 {
    .item__icon-2 {
      background: url('../img/about-icons/mdi_wheel.svg') no-repeat;
    }
  }
  .team__item-3 {
    .item__icon-3 {
      background: url('../img/about-icons/mage_box-3d-check-fill.svg') no-repeat;
    }
  }
  .team__item-4 {
    .item__icon-4 {
      background: url('../img/about-icons/twemoji_wheel.svg') no-repeat;
    }
  }
  .team__item-5 {
    .item__icon-5 {
      background: url('../img/about-icons/pipe_fill.svg') no-repeat;
    }
  }
  .team__item-6 {
    .item__icon-6 {
      background: url('../img/about-icons/material-apps-wheel.svg') no-repeat;
    }
  }


  .team__item:hover {
    background: linear-gradient(180deg, #FFC739 0%, #FFE59F 100%);
  }
  .team__item-1:hover .item__icon-1 {
    background: url('../img/about-icons/time_atack_duotone_line-hover.svg') no-repeat;
  }
  .team__item-2:hover .item__icon-2 {
    background: url('../img/about-icons/mdi_wheel-hover.svg') no-repeat;
  }
  .team__item-3:hover .item__icon-3 {
    background: url('../img/about-icons/mage_box-3d-check-fill-hover.svg') no-repeat;
  }
  .team__item-4:hover .item__icon-4 {
    background: url('../img/about-icons/twemoji_wheel-hover.svg') no-repeat;
  }
  .team__item-5:hover .item__icon-5 {
    background: url('../img/about-icons/pipe_fill-hover.svg') no-repeat;
  }
  .team__item-6:hover .item__icon-6 {
    background: url('../img/about-icons/material-apps-wheel-hover.svg') no-repeat;
  }

}





/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/==/=*/
/*================= АДАПТАЦІЯ СТИЛІВ ДЛЯ МОБІЛЬНИХ ПРИСТРОЇВ ===================================*/ 
/*=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/=/*/
@media (min-width: 1710px) {

}

@media (max-width: 960.98px) {
  .mission__body {
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .team__body {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
  }
  .team__items-wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}


@media (max-width: 559.98px) {
  .about__hero .hero__content {
    position: relative;
    z-index: 2;
    display: flex;
    flex-direction: column;
    padding: 210px 18px 0 18px;
    color: var(--white-color);
  }
  .team__items-wrapper {
    grid-template-columns: repeat(1, 1fr);
  }
}
